/* Your Code Goes Here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
header {
  background: #99A4AF;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-weight: bold;
  font-size: 2.4rem;
  color: #FFFFFF;
  padding: 0 0 0 85px;
}
header .hamburger {
  padding: 0 85px 0 0;
}
nav {
  display: none;
}
.nav-open {
  display: block;
}
footer {
  height: 250px;
  background-color: #828282;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 60px 0 0 0;
}
footer .form {
  width: 40%;
}
footer .form h3 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
footer .addresses {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 0 90px 0 10px;
}
footer .addresses .address h3 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  padding-bottom: 5px;
}
footer .addresses .address p {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #FFFFFF;
}
footer .copyright {
  width: 100%;
  color: #FFFFFF;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 25px;
}
.container-home {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.container-home .banner-top {
  background: url(../img/home/home-jumbotron.png);
  height: 550px;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
}
.container-home .banner-top p {
  width: 25%;
  padding: 275px 0 0 80px;
}
.container-home .main {
  padding-left: 85px;
}
.container-home .main .side-by-side-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 100px;
}
.container-home .main .side-by-side-top .small-content {
  width: 45%;
  padding: 100px 0 0 0;
}
.container-home .main .side-by-side-top .small-content h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 18px;
}
.container-home .main .side-by-side-top .small-content p {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.container-home .main .side-by-side-top .small-img {
  width: 55%;
  padding: 50px 0 0 20px;
}
.container-home .main .side-by-side-btm {
  display: flex;
  width: 100%;
}
.container-home .main .side-by-side-btm .small-img {
  width: 50%;
}
.container-home .main .side-by-side-btm .small-content {
  width: 50%;
}
.container-home .main .side-by-side-btm .small-content h2 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
  padding-bottom: 15px;
}
.container-home .main .side-by-side-btm .small-content p {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.container-home .main .recent-projects {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}
.container-home .main .full-length {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container-home .main .full-length .villas-header {
  background: url(../img/home/home-villas-img.png);
  background-repeat: no-repeat;
  height: 300px;
}
.container-home .main .full-length .villas-header h3 {
  height: 100px;
  width: 315px;
  border: 1px solid white;
  background-color: #D8D8D8;
  font-size: 2.4rem;
  letter-spacing: 8px;
  text-align: center;
  padding-top: 35px;
}
.container-home .main .full-length .villas-header p {
  width: 50%;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
