.container-contact {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    .smallheader {
        background: no-repeat url(../img/contact/contact-jumbotron.png);
        height: 200px;

        @media @mobile {
            height: 150px;
            
        }
    }
}