footer {
    height: 250px;
    background-color: @footer-background;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px 0 0 0;
    

    .form {

        width: 40%;
        
        h3 {
            .footer-heading;
        }
    }

    .addresses {

        display: flex;
        justify-content: space-between;
        width: 60%;
        padding: 0 90px 0 10px;

        .address{
            

            h3 {
                .footer-heading;
                padding-bottom: 5px;
            }
    
            p {
                .footer-text;
            }
        }
    }

    .copyright {
        width: 100%;
        color: @headings;
        font-size: 1.2rem;
        text-align: center;
        padding-top: 25px;
    }
}