header {
    background: @nav-bg;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo{
        .nav-logo;
        padding-left: 85px;

        @media @mobile {
            padding-left: 15px;
        }
    }

    .hamburger{
        padding-right: 85px;

        @media @mobile {
            padding-right: 15px;
        }
    }
}

nav {
    display: none;
}

.nav-open {
    display: block;
}