header {
    background: @nav-bg;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo{
        .nav-logo;
        padding: 0 0 0 85px;
    }

    .hamburger{
        padding: 0 85px 0 0;
    }
}

nav {
    display: none;
}

.nav-open {
    display: block;
}