.container-services {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    .services-header {
        background: no-repeat url(../img/services/services-jumbotron.png);
        height: 200px;

        h1 {
           .jumbotron;
           padding: 105px 0 0 88px; 
        }
    }
}