.container-services {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    .services-header {
        background: no-repeat url(../img/services/services-jumbotron.png);
        height: 200px;

        h1 {
           .jumbotron;
           padding: 105px 0 0 88px; 
        }
    }

    .content-container {
        margin: 0 auto;
        width: 83%;
        padding-top: 50px;

        .intro {

            p{
                .text;
                line-height: 2.6rem;
            }
        }

        .tab-nav {

            padding: 40px 0;
            
            ul {
                display: flex;
                justify-content: space-between;

                li {
                    .services-tab;
                }
            }
        }
    }
}