// General

@background: #FFFFFF;
@button-border: #222222;
@headings: #FFFFFF;

// Nav

@nav-bg: #99A4AF;

// Footer

@footer-background: #828282;

// Home Page

@project-label: #D8D8D8;

// Services Page

@selected-tab-bg: #5E9FB9;
@tab-hover-bg: @button-border;
@tab-hover-color: #FFF;

// Mobile

@mobile: (`max-width: 500px`);
